<md-content class="Page-container">
    <!-- Breadcrumb -->
<div class="breadcrumb-area bg-image section-ptb" style="background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('assets/images/header/header-1.jpg'); background-position: top; background-size: cover;">
    <div class="container">
        <div class="row breadcrumb">
            <div class="col">
                <h2>Blog Page</h2>
                <!-- breadcrumb-list start -->
                <ul class="breadcrumb-list">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item active">Blog</li>
                </ul>
                <!-- breadcrumb-list end -->
            </div>
        </div>
    </div>
</div>
<!--// Breadcrumb -->

<!-- Page Conttent -->
<main class="page-content">

    <!-- Start Post Carousel Style-->
    <div class="section-post-carousel section-pt section-pb-90">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title text-center">
                        <h2>Protectt.ai Labs</h2>
                        <p class="text-center">Your Trusted Partner for Mobile Security</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <!-- Start Single Post -->
                    <div class="post-carousel mb-30 row">
                        <div class="thumb col-md-4">
                            <a routerLink="/five-ways-to-enhance-your-android-phone-security">
                                <img src="img/blog/five-ways-to-enhance-your-android-phone-security.png" alt="elementor">
                            </a>
                        </div>
                        <div style="padding-top: 0;" class="col-md-8 ptc-content">
                            <h4><a routerLink="/five-ways-to-enhance-your-android-phone-security">5 Ways to Enhance your Android Phone Security.</a></h4>
                            <ul class="meta d-flex">
                                <li><a routerLink="/five-ways-to-enhance-your-android-phone-security"><i class="zmdi zmdi-calendar-check"></i> Feb 4, 2021</a></li>
                                <li><i class="zmdi zmdi-account-calendar"></i> By : <a href="#">Admin</a></li>
                            </ul>
                            <p>Does your heart skip a beat when your phone slips from the pocket? We know how fragile our mobile phones can be...</p>
                            <div class="post-btn">
                                <a class="readmore-btn btn btn-circle" routerLink="/five-ways-to-enhance-your-android-phone-security">READ MORE</a>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Post -->
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <!-- Start Single Post -->
                    <div class="post-carousel mb-30 row">
                        <div class="thumb col-md-4">
                            <a routerLink="/smartphone-antivirus-need-of-the-hour">
                                <img src="img/blog/smartphone-antivirus-need-of-the-hour.png" alt="elementor">
                            </a>
                        </div>
                        <div style="padding-top: 0;" class="col-md-8 ptc-content">
                            <h4><a routerLink="/smartphone-antivirus-need-of-the-hour">Smartphone Antivirus: Need of the Hour.</a></h4>
                            <ul class="meta d-flex">
                                <li><a href="#"><i class="zmdi zmdi-calendar-check"></i> Feb 4, 2021</a></li>
                                <li><i class="zmdi zmdi-account-calendar"></i> By : <a href="#">Admin</a></li>
                            </ul>
                            <p>Antiviruses have been around for long, it became integral for computers but as most work is getting done through cell phones...</p>
                            <div class="post-btn">
                                <a class="readmore-btn btn btn-circle" routerLink="/smartphone-antivirus-need-of-the-hour">READ MORE</a>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Post -->
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <!-- Start Single Post -->
                    <div class="post-carousel mb-30 row">
                        <div class="thumb col-md-4">
                            <a routerLink="/seven-must-have-apps-on-your-smartphone">
                                <img src="img/blog/seven-must-have-apps-on-your-smartphone.png" alt="elementor">
                            </a>
                        </div>
                        <div style="padding-top: 0;" class="col-md-8 ptc-content">
                            <h4><a routerLink="/seven-must-have-apps-on-your-smartphone">Seven Must Have Apps on Your Smartphone.</a></h4>
                            <ul class="meta d-flex">
                                <li><a href="#"><i class="zmdi zmdi-calendar-check"></i> Feb 4, 2021</a></li>
                                <li><i class="zmdi zmdi-account-calendar"></i> By : <a href="#">Admin</a></li>
                            </ul>
                            <p>Travelling, eating, entertainment, banking, shopping, you name it and your phone has got your back....</p>
                            <div class="post-btn">
                                <a class="readmore-btn btn btn-circle" routerLink="/seven-must-have-apps-on-your-smartphone">READ MORE</a>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Post -->
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <!-- Start Single Post -->
                    <div class="post-carousel mb-30 row">
                        <div class="thumb col-md-4">
                            <a routerLink="/enhancing-mobile-app-security-through-rasp">
                                <img src="img/blog/thum-01.jpg" alt="elementor">
                            </a>
                        </div>
                        <div style="padding-top: 0;" class="col-md-8 ptc-content">
                            <h4><a routerLink="/enhancing-mobile-app-security-through-rasp">Enhancing Mobile App Security Through RASP.</a></h4>
                            <ul class="meta d-flex">
                                <li><a href="#"><i class="zmdi zmdi-calendar-check"></i> Feb 4, 2021</a></li>
                                <li><i class="zmdi zmdi-account-calendar"></i> By : <a href="#">Admin</a></li>
                            </ul>
                            <p>The influx of digital means has revolutionized the world! All hail to the Digital bonanza. Buying, selling, and processing...</p>
                            <div class="post-btn">
                                <a class="readmore-btn btn btn-circle" routerLink="/enhancing-mobile-app-security-through-rasp">READ MORE</a>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Post -->
                </div>
            </div>
        </div>
    </div>
    <!-- End Post Carousel  Style-->

</main>
<!--// Page Conttent -->

</md-content>
